# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

__Objectives__
* List popular languages for Data Science
* Identify the criteria for determining the language to learn
* List the roles involved in data science

## Some of the commonly used libraries used by Data Scientists include:
* **
1. Pandas
2. TensorFlow
3. MatPlotLib

| Data Sience Tools|
|-----|
|Jupyter Notebooks|
|Apachie Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [18]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Beginner